/* General body and HTML styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; Prevents scrolling for the entire viewport */
    font-family: Arial, sans-serif; /* Set a default font */
}

/* Background video styles */
.background-video {
    position: fixed; /* Use fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; Hides overflow from the video */
    z-index: 0; /* Ensure the video is behind other content */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire area */
}

/* Card styles */
.card {
    position: relative; /* Ensure it's above the video */
    z-index: 1; /* Make sure the card is above the video */
    width: 90%;
    max-width: 470px;
    /* background: rgba(255, 255, 255, 0.8); Semi-transparent background for readability */
    color: #222;
    margin: 100px auto; /* Center the card */
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

/* Header styles */
h2 {
    text-align: center;
    color: #f8f6f9; /* Indigo color for the header */
}

/* Forecast styles */
.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-item {
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
    max-width: 300px; /* Limit the width */
    text-align: center;
}

.forecast-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.details {
color: #bdc3c7; /* Change the text color to tomato */
    font-size: 14px; /* Adjust the font size if needed */
}


/* Details section styles */
/* .details {
    display: none; /* Initially hidden */
    /* margin-top: 10px;
} */ */

.details p {
    margin: 5px 0;
    font-size: 0.9em;
  color: #f8f6f9;/* Slightly darker text */
}

/* Animation for details */
.details.show {
    display: block;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
